<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <!-- <header> -->
            <div class="header">
                 @@include("../blocks/modules/header/header.html")
                <div class="wrap header-content">
                    <div class="header__left-content">
                        <h1>New Automation Tool for Your Home</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus tristique vulputate ultrices ut mauris tellus at. Posuere sollicitudin odio tellus elit.</p>
                        <button class="header__btn">See Our Project</button>
                    </div>
                    <div class="header__right-content">
                        <img src="../img/header-image.png" alt="">
                    </div>
                </div>
            </div>
        <!-- </header> -->
        <section>
            <div class="wrap help">
                <div class="">
                    <p class="help__text">What we do to help our client grow in digital era,</p>
                    <div class="help__item help__item-1">
                        <img src="../img/help2.png" alt="">
                        <h5>Make Your business To Be Better Famous In Internet</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">Learn more <img src="../img/svg/right.svg" alt=""></a>
                    </div>
                </div>
                <div>
                    <div class="help__item help__item-2">
                        <img class=" help__item-2_img" src="../img/help1.png" alt="">
                        <h5>Bring Technology To Your Comfrotable Home</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">Learn more <img src="../img/svg/right.svg" alt=""></a>
                    </div>
                    <div class="help__item help__item-3">
                        <img src="../img/help3.png" alt="">
                        <h5>Build Your Digital Product That Suitable For Your Need</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="">Learn more <img src="../img/svg/right.svg" alt=""></a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="end-section">
                <div class="wrap">
                    <div class="end-section__first-line">
                        <h2>Our Beloved Client</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                    </div>
                    <table class="end-section__table">
                        <tr>
                            <td class="end-section__table_top table-left">LOGO CLIENT 1</td>
                            <td class="end-section__table_top">LOGO CLIENT 2</td>
                            <td class="end-section__table_top">LOGO CLIENT 3</td>
                            <td class="end-section__table_top table-right">LOGO CLIENT 4</td>
                        </tr>
                        <tr>
                            <td class="end-section__table_bottom table-left">LOGO CLIENT 5</td>
                            <td class="end-section__table_bottom">LOGO CLIENT 6</td>
                            <td class="end-section__table_bottom">LOGO CLIENT 7</td>
                            <td class="end-section__table_bottom table-right last-td"><button>More Client</button></td>
                        </tr>
                    </table>
                </div>
                @@include("../blocks/modules/footer/footer.html")
            </div>
        </section>
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>

        